@font-face {
    font-family: 'fonts/Prehistoric Caveman';
    src: url('fonts/PrehistoricCaveman.eot');
    src: url('fonts/PrehistoricCaveman.eot?#iefix') format('embedded-opentype'),
        url('fonts/PrehistoricCaveman.woff2') format('woff2'),
        url('fonts/PrehistoricCaveman.woff') format('woff'),
        url('fonts/PrehistoricCaveman.ttf') format('truetype'),
        url('fonts/PrehistoricCaveman.svg#PrehistoricCaveman') format('svg');
    font-weight: normal;
    font-style: normal;
}


